<div class="main-container">
  <!-- Ocene - Leva strana -->
  <div class="left-container">
    <table>
      <thead>
        <tr>
          <th>Predmet</th>
          <th>Ocene</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subjectName of getSubjectNames()">
          <td>{{ subjectName }}</td>
          <td>{{ uniqueSubjects[subjectName].join(', ') || '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="right-container">
  <table>
    <thead>
      <tr>
        <th>Datum</th>
        <th>Naziv predmeta</th>
        <th>Redni broj časa</th>
        <th>Opravdano</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of paginatedAbsences">
        <td>{{ absence.lesson.date }}</td>
        <td>{{ absence.lesson.teacher.subject.name }}</td>
        <td>{{ absence.lesson.classOrdinalNumber }}</td>
        <td>
          <input type="checkbox" [(ngModel)]="absence.excused" [checked]="absence.excused" (change)="onCheckboxChange(absence, 'justified')" [disabled]="absence.isfinal">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Prethodna</button>
    <span>Strana {{ currentPage }} od {{ Math.ceil(absences.length / itemsPerPage) }}</span>
    <button (click)="nextPage()" [disabled]="(currentPage * itemsPerPage) >= absences.length">Sledeća</button>
  </div>

  <button (click)="saveAbsences()">Sačuvaj</button>
</div>
