.notification-container {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(25, 121, 8, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: black;
    display: flex;
    gap: 10px;
  }
  
  .notification {
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
  }