body {
  font-family: 'Poppins', sans-serif;
  background: #f4f7f9;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.main-container {
  display: flex;
  gap: 40px;
  width: 100%;
  flex-grow: 1;
}

.left-container, .right-container {
  flex: 1;
}

h1, h3 {
  text-align: center;
  font-size: 24px;
  color: #2c3e50;
  margin-bottom: 25px;
}

label {
  display: block;
  font-weight: 700;
  color: #34495e;
  font-size: 18px;
  margin-bottom: 8px;
}

span, input, textarea, select {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 17px;
  background: #f9fafc;
  margin-bottom: 12px;
}

textarea {
  resize: none;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background:  #2ecc71;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 12px;
}

button:hover {
  background: #27ae60;
}

.right-container button {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 17px;
}

th {
  background: #2ecc71;
  color: white;
}

tr:nth-child(even) {
  background: #f8f9fa;
}

.save-button {
  width: 320px;
  padding: 16px;
  font-size: 20px;
  font-weight: 700;
  background: #2ecc71;
  margin-top: 25px;
  text-align: center;
  align-self: center;
}

.save-button:hover {
  background: #27ae60;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

