/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

  }
.ccc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;

}
  
  /* Container for the form */
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Header style */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  /* Label styles */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
  }
  
  /* Input field styles */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* Button styles */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Paragraph styles */
  p {
    text-align: center;
    margin-top: 20px;
    color: #333333;
  }
  
  /* Link styles */
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  