<div class="main-container">
  <!-- Leva kolona - Upis časa -->
  <div class="left-container">
    <h1>Upis časa</h1>

    <div>
      <label for="teacherName">Ime nastavnika:</label>
      <span id="teacherName">{{ teacherName }}</span>
    </div>

    <div>
      <label for="subjectName">Naziv predmeta:</label>
      <span id="subjectName">{{ subjectName }}</span>
    </div>

    <div>
      <label for="className">Odeljenje:</label>
      <span id="className">{{ clas.grade }}-{{ clas.number }}</span>
    </div>

    <div>
      <label for="classOrdinalNumber">Redni broj časa:</label>
      <input type="number" id="classOrdinalNumber" name="classOrdinalNumber" max="7" min="0" [(ngModel)]="classOrdinalNumber">
    </div>

    <div>
      <label for="date">Datum:</label>
      <span id="date">{{ todayDate }}</span>
    </div>

    <div>
      <label for="lessonDescription">Opis časa:</label>
      <textarea id="lessonDescription" name="lessonDescription" rows="4" cols="50" [(ngModel)]="curriculum"></textarea>
    </div>
  </div>

  <!-- Desna kolona - Odsutni studenti -->
  <div class="right-container">
    <h3>Odsutni učenici</h3>

    <label for="studentSelect">Izaberi odsutnog učenika:</label>
    <select id="studentSelect" [(ngModel)]="selectedStudent">
      <option *ngFor="let st of students" [ngValue]="st">
        {{ st.firstname }} {{ st.lastname }}
      </option>
    </select>
    <button (click)="AddAbsence()">Dodaj u odsutne</button>

    <table>
      <tr>
        <th>Ime i prezime</th>
        <th></th>
      </tr>
      <tr *ngFor="let st of absentStudents">
        <td>{{ st.firstname }} {{ st.lastname }}</td>
        <td><button (click)="removeAbsence(st)">Ukloni</button></td>
      </tr>
    </table>
  </div>
</div>

<!-- Dugme "Sačuvaj" centrirano -->
<div class="button-container">
  <button class="save-button" (click)="submit()">Sačuvaj</button>
</div>
